<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<body>
    <div class="container-fluid">

        <!--Header Row-->
        <div class="jumbotron" id="spacer">
            <h1 class="display-4">Data Analyst Job Analysis</h1>
            <span class="lead"><a id="github-link" href="https://github.com/zarbin/UTA_Project-3" target="_blank">Check out our code on GitHub</a></span>
        </div>
            
        <!--Button row-->
        <div class="row justify-content-md-center">
            <a type="button" class="btn btn-secondary btn-lg" href="/map">Switch to Map View</a>
        </div>

        <h2>Big Header here</h2>
        <p>Numbers on hover reflect the rounded USD (in millions) spent in each category in 2017.</p>
 

        <!--Viz Row-->
        <div class="row" id="viz-row">

           <!--Visual 1 Bar Chart-->
            <div class="col-md-2" id="viz-1">
                <select id="selDataset">
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="KS">Kansas</option>
                    <option value="MO">Missouri</option>
                    <option value="OK">Oklahoma</option>
                    <option value="TX">Texas</option>
                    <option value="United States">Remote</option>
                </select>
                
                <div id="pie"></div>
            </div>

    </div>


    <!--d3.js -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    
    <!--plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Bar Chart JavaScript -->
    <script type="text/javascript" src="../static/js/js_visuals.js"></script>

</body>
</html>