<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Analytics Bootcamp - Project 3</title>

    <!--CSS-->
    <style>
        #selDataset{
            width:250px;   
        }
    </style>
</head>

<body>
    <div class="container-fluid">

        

        <!--Header Row-->
        <div class="jumbotron" id="spacer">
            <h1 class="display-4">Interactive Javascript Visual - Job Listing Source by State</h1>
            
        </div>
            
        <!--Button row-->
        <div class="row justify-content-md-center">
            <a type="button" class="btn btn-secondary btn-lg" href="/">Home</a></br>
        </p>
        </div>

        <!--Viz Row-->
        <div class="row" id="viz-row">

           <!--State Dropdown and Pie Chart Visual -->
            <div class="col-md-2" id="viz-1">
                <select id="selDataset" name="selDataset" size="1">
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="KS">Kansas</option>
                    <option value="MO">Missouri</option>
                    <option value="OK">Oklahoma</option>
                    <option value="TX">Texas</option>
                    <option value="United States">Remote</option>
                </select>
                
                <div id="pie"></div>
            </div>

    </div>





    <!--d3.js -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    
    <!--plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Bar Chart JavaScript -->
    <script type="text/javascript" src="../static/js/js_visuals.js"></script>

</body>
</html>