<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<body>
    <div class="container-fluid">

        <!--Header Row-->
        <div class="jumbotron" id="spacer">
            <h1 class="display-4">Data Analyst Job Analysis</h1>
            <span class="lead"><a id="github-link" href="https://github.com/zarbin/UTA_Project-3" target="_blank">Check out our code on GitHub</a></span>
        </div>
            
        <!--Button row-->
        <div class="row justify-content-md-center">
            <a type="button" class="btn btn-secondary btn-lg" href="/map">Switch to Map View</a>
        </div>

        <!--Viz Row-->
        <div class="row" id="viz-row">
            <h1 class="display-4">### PYTHON VISUALS HERE ###</h1>


    </div>


    <!--d3.js -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    
    <!--plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Bar Chart JavaScript -->
    <script type="text/javascript" src="../static/js/app.js"></script>

</body>
</html>